{% extends "base.html" %}

{% block content %}
	<h2>So you want to delete your account?</h2>
    <p>Just so you know, this cannot be undone.</p>

    <a href="{{url_for('user', user_id=current_user.id)}}" style="color: green">[Wait no, take me back]</a><br><br>

	<form action="" method="post">
		{{ form.hidden_tag() }}
        {{form.csrf_token()}}
		<p>
		    {{ form.password.label }}<br>
		    {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
    
    <br>
    <p>After deletion, you will be redirected to the home page.</p>
{% endblock %}
