{% extends "base.html" %}

{% block content %}

<h2>Add a new paper to DenseLayers.</h2>

<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{form.csrf_token()}}
    
    <div class="newpaper_form_section">
        <p>{{form.title.label}}</p>
        <p>{{form.title(size=200)}}</p>
        {% for error in form.title.errors %}
            <span class="error-span">[{{error}}]</span>
        {% endfor %}
    
        <p>{{form.journal.label}}</p>
        <p>{{form.journal(size=100)}}</p>
        {% for error in form.journal.errors %}
            <span class="error-span">[{{error}}]</span>
        {% endfor %}
        
        <p>{{form.scholar_link.label}}</p>
        <p>{{form.scholar_link(size=100)}}</p>
        {% for error in form.scholar_link.errors %}
            <span class="error-span">[{{error}}]</span>
        {% endfor %}
        
        <p>{{form.author_string.label}}</p>
        <p>{{form.author_string(size=100)}}</p>
        {% for error in form.author_string.errors %}
            <span class="error-span">[{{error}}]</span>
        {% endfor %}
        
        <p>{{form.shorthand.label}}</p>
        <p>{{form.shorthand(size=30)}}</p>
        {% for error in form.shorthand.errors %}
            <span class="error-span">[{{error}}]</span>
        {% endfor %}
        
        <p>{{form.publish_month.label}}</p>
        <p>{{form.publish_month}}</p>
        {% for error in form.publish_month.errors %}
            <span class="error-span">[{{error}}]</span>
        {% endfor %}
        
        <p>{{form.publish_year.label}}</p>
        <p>{{form.publish_year}}</p>
        {% for error in form.publish_year.errors %}
            <span class="error-span">[{{error}}]</span>
        {% endfor %}
        
        
        <p>{{form.paper_file.label}}</p>
        <p>{{form.paper_file}}</p>
        {% for error in form.paper_file.errors %}
            <span class="error-span">[{{error}}]</span>
        {% endfor %}
        
        <p>{{form.img_file.label}}</p>
        <p>{{form.img_file}}</p>
        {% for error in form.img_file.errors %}
            <span class="error-span">[{{error}}]</span>
        {% endfor %}
        
    </div>
    
    <p>{{form.submit}}</p>
    
</form>
<br>
<br>


{% endblock %}