{% extends "base.html" %}

{% block content %}

<section class="rules-page nondev">
    <br>
    <h1>Site Rules and Guidelines</h1>
    
    <p>It is much more enjoyable to be in a community when you can trust others, when they trust you, and you feel free to be yourself.</p>
    
    <p>Since this is a very open community, your words will be read by thousands of people. We want to suggest some guidelines to help you have a great time. DenseLayers is guided by two principles above all: <em>Kindness and Courage.</em></p>
    
    <p>First, the foundation of this community is the purpose of being helpful and collaborative. As a member, it would be great if you gave others encouragement and empathy.</p>
    
    <p>Second, all research is essentially a search for truth. It takes courage to share your true opinions and feelings, and it also takes courage to receive the truth. Hopefully, you will try to do both on DenseLayers.</p>
    
    <h3>With that in mind, here is a list of guidelines you should follow.</h3>
    <ul>
        <li>Write every post with the intention of being <strong>helpful</strong> - to the community, to the authors of the paper, and to yourself. Be polite, and you will inspire others to be polite.</li>
        
        <li>As much as possible, write your post as a response to that specific paragraph within the research paper, and not as a response to anybody else's post. Your posts should still make sense if others delete their own posts.</li>
        
        <li>Please don't hesitate to write a post even if you think others have already done a "good job" explaining a paragraph. If you think that what you say could be helpful, please write it anyway.</li>
        
        <li>If you are annoyed by or greatly disagree with what is written in a paper, avoid being harsh towards the authors. Nicely point out what you think is wrong or right.</li>
        
        <li>(Suggestion) Smile while writing your post - it will help you automatically follow all the rules above!</li>
        
    </ul>
<br><br>
</section>

{% endblock %}