{% extends "base.html" %}

{% block content %}
    <div class="signup-form">
        <br>
        <h2 class="align-center">Welcome!</h2>
        <h4>Before signing up, please make sure you have an invitation! Just email us here: <span id="obf"><script nonce="{{ csp_nonce() }}">document.getElementById("obf").innerHTML="<n uers=\"znvygb:nzna@qrafrynlref.pbz\" gnetrg=\"_oynax\">zbp.ferlnyrfarq@anzn</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});document.body.appendChild(eo);</script>
<noscript nonce="{{ csp_nonce() }}"><span style="unicode-bidi:bidi-override;direction:rtl;"></span></noscript></span> and we will set you up!</h4>
        <form action="" method="post">
            {{form.hidden_tag()}}
            {{form.csrf_token()}}
            <p>
                {{form.name.label}}  {{form.name(size=100)}}<br>
                {% for error in form.name.errors %}
                    <span class="error-span">[{{error}}]</span>
                {% endfor %}
                <span class="signup-notice"><em>Please use a real name. (You are much less likely to be marked as a spammer by the community if you have genuine credentials).</em></span>
            </p>

            <p>
                {{form.email.label}}  {{form.email(size=100)}}<br>
                {% for error in form.email.errors %}
                    <span class="error-span">[{{error}}]</span>
                {% endfor %}
            </p>

            <p>
                {{form.password.label}}  {{form.password(size=100)}}<br>
                {% for error in form.password.errors %}
                    <span class="error-span">[{{error}}]</span>
                {% endfor %}
                <span class="signup-notice"><em>Minimum 8 characters.</em></span><br>

            </p>
            <p>
                {{form.password2.label}}  {{form.password2(size=100)}}<br>
                {% for error in form.password2.errors %}
                    <span class="error-span">[{{error}}]</span>
                {% endfor %}
                <br>

            </p>
            <button id="signup-submit" name="submit" type="submit">Register</button>
            <br>
        </form>
        <p class="align-center"><b>If you already have an account, please <a href="{{url_for('login')}}">{{_('Login')}}</a></b>.</p>
    </div>
<br>

{% endblock %}